body {
	font: normal 13px/1.4 Arial, Helvetica, sans-serif;
}

#playground {
	border: 1px solid #ccc;
	position: absolute;
}

#wrapper {
	position: relative;
}

#conf {
	position: absolute;
	background: white;
	z-index: 1000;
	left: 10px;
	top: 10px;
	transition: height .2s;
	-webkit-transition: height .2s;
	-moz-transition: height .2s;
	overflow: hidden;
	box-shadow: 0px 0px 10px 1px orange;
}

#conf table {
	padding: 10px;	
}

#conf table td {
	width: 160px;
}

#conf .desc {
	font-weight: bold;
	color: #999;
	line-height: 40px; 
}

#conf #game-result {
	color: #AC399A;
	font-size: 20px;
	padding: 15px 0;
}

#conf .conf-sub {
	font-size: smaller;
	color: #333;
	padding-left: 5px;
}
#playground tr {
	width: 100%;
}

#playground tr, #playground td {
	border: none;
	position: relative;
}

#playground .food {
	position: absolute;
	top: 0;
	left:0;
}

#playground .food.ge10 {
	font-size: smaller;
	letter-spacing: -1px;
}

.score {
	display: inline-block;
	height: 3em;
}

.score .heart {
	color: red;
	font-size: larger;
}

.score .money {
}